.column {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.card-list {
    padding: 8px;
    flex-grow: 1;
    min-height: 100px;
    max-height: 300px;
    min-width: 200px;
    max-width: 500px;
    overflow-y: scroll;
    overflow-x: a;
}


